<style>
  .centric-date-picker {
    font-family: monospace;
    .text-input {
    }
    /*background: red;*/
    border: 1px solid;
  }
</style>
<div class="centric-date-picker">
  <div (click)="showCalendar = true" class="text-input">
    <app-number-input #day (change)="modelChanged()" (focusNext)="month.focusMe()" (gotFocus)="numberFocused()"
                      [options]="options[UnitType.Date]"
                      [(data)]="model.date.day"
    ></app-number-input>
    <app-number-input #month (change)="modelChanged()" (focusNext)="year.focusMe()" (focusPrev)="day.focusMe()"
                      (gotFocus)="numberFocused()" [(data)]="model.date.month"
                      [options]="options[UnitType.Month]"
    ></app-number-input>
    <app-number-input #year (change)="modelChanged()" (focusNext)="showTime && hours?.focusMe()" (focusPrev)="month.focusMe()"
                      (gotFocus)="numberFocused()" [(data)]="model.date.year"
                      [options]="options[UnitType.Year]"
    ></app-number-input>
    @if (showTime) {
      <app-number-input #hours [options]="options[UnitType.Hours]" (change)="modelChanged()"
                        (gotFocus)="numberFocused()"
                        (focusPrev)="year.focusMe()" (focusNext)="minutes.focusMe()"
                        [(data)]="model.time.hours"
      ></app-number-input>
      <app-number-input #minutes [options]="options[UnitType.Minutes]" (change)="modelChanged()"
                        (gotFocus)="numberFocused()"
                        (focusPrev)="hours.focusMe()" (focusNext)="seconds.focusMe()"
                        [(data)]="model.time.minutes"
      ></app-number-input>
      <app-number-input #seconds [options]="options[UnitType.Seconds]" (change)="modelChanged()"
                        (gotFocus)="numberFocused()"
                        (focusPrev)="minutes.focusMe()"
                        [(data)]="model.time.seconds"
      ></app-number-input>
    }
  </div>
  <app-pop-up (datePickerChange)="datePickerChanged($event)" [(show)]="showCalendar" [date]="date"></app-pop-up>
</div>
