<style>
  .number-input {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
  }

  input::-webkit-inner-spin-button {
    display: none;
  }
</style>
<input #domElement
       (focus)="focus($event)"
       (input)="input()"
       [min]="options?.min ?? null"
       [placeholder]="options?.placeholder"
       (click)="selectAllText()"
       (keydown)="keyDown($event)"
       (keyup)="keyUp()"
       class="number-input"
       type="number"
       [max]="options?.max ?? null"
>
